/* STANDARD FORMATTING FOR ALL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BALL ANIMATION */
#ball:hover {
  transition: 0.2s;
  transform: translate(0px, -8px);
}

/* CURRENT ROSTER */
#currentRoster {
  justify-content: left;
}

/* AVAILABLE PLAYERS */
#availablePlayers {
  text-align: right;
}
