/* STANDARD FORMATTING FOR ALL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 1vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

h1 {
  font-family: 'Goldman';
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
  font-family: 'Goldman';
}
main {
  padding: 0;
  background-color: rgba(0, 43, 216, 0.864);
  z-index: 0;
}
span {
  width: 100%;
  height: 100%;
}

#ball-emoji {
  font-size: 100px;
  margin-left: 50%;
  width: max-content;
}

#ball-emoji:hover {
  transition: 0.2s;
  transform: translate(0px, -8px);
}

#rules {
  padding: 1rem;
  margin: auto;
  width: 30%;
}

#rules li {
  text-align: left;
}
header {
  text-align: center;
  background-color: white;

  margin: auto;
}

button {
  padding: 0.5vw;
}

#main-buttons {
  display: flex;
  width: 30%;
  margin: auto;
}
#budget-error {
  color: red;
}

#select-player {
  padding: 1vw;
  font-size: 1vw;
}

.rosters-container {
  display: flex;
  margin: 1rem auto;
  width: 85%;
}

.rosters {
  width: 60%;
  margin: 1rem;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.461);
}

li {
  list-style: none;
}
#submitTeam {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  background-color: tomato;
}
#save-progress {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}
#start-over {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}
.rules-list {
  list-style: circle;
}
/***********   PLAYER CARDS   **********/

#player-card {
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(252, 246, 226);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.755);
  border-radius: 5px;
  text-align: center;
}
.player-info h2 {
  font-size: 3vw;
  margin-bottom: 1rem;
}
.player-block {
  display: flex;
}
.headshot {
  width: 20%;
  padding: 1rem 0;
}
.headshot img {
  max-width: 100%;
  height: auto;
  box-shadow: 2px 2px 5px black;
}
.player-info {
  padding: 0.5rem;
  width: 60%;
  text-align: left;
  font-size: 1.5vw;
}
.rating {
  font-size: 4vw;
  width: 20%;
  color: rgb(99, 0, 0);
}

#team-info-box {
  background-color: white;
  font-size: 2vw;
  text-align: left;
  padding: 1rem;
  margin: 1.5rem;
}
